.testimonial{
    display: flex;
    align-items: center;
    width: 100%;
    /* height: 300px; */
    margin: 0 auto;    
    margin-top: 40px;
    justify-content: center;
    /* background-color: #f6f8fa; */
    border-radius: 10px;
}
.wrapper{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapper h1{
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
    margin-left: 50px;
    color: rgb(30, 1, 53);
}
.wrapper h1 span{
    background-image: linear-gradient(to right, rgb(37, 4, 65), rgb(228, 23, 194));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.testimonialcontainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}