.featured{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.wrapper{
    gap: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: #f6f7f8;
    padding: 10px 15px 15px 15px;
    border-radius: 10px;
}
.wrapper h1{
    color: rgb(2, 4, 8);
    font-weight: bold;
    font-size: 30px;
}
.wrapper h1 span{
    background-image: linear-gradient(to right, rgb(134, 25, 223), rgb(228, 23, 194) );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.toolContainer{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3, 130px);
    width: 100%;
    margin: 0 auto;
    gap: 10px;
}

@media screen and (max-width: 930px) {
    .wrapper{
        width: 85%;
    }
     .wrapper h1{
        font-size: 24px;
     }
}

@media screen and (max-width: 630px) {
   
.toolContainer{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: repeat(5, 130px);
    width: 100%;
    margin: 0 auto;
    gap: 10px;
}
}
@media screen and (max-width: 500px) {
  
    .toolContainer{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        grid-template-rows: repeat(9, 130px);
        width: 100%;
        margin: 0 auto;
        gap: 10px;
    }
    }